# Исключаем папку node_modules
node_modules/

# Исключаем скриншоты и видео сессий Cypress
cypress/screenshots/
cypress/videos/

# Исключаем папки с собранными файлами
build/
dist/

# Исключаем папку с кэшем
.cache/

